APP_ENV=dev
APP_BASE_URL=127.0.0.1
APP_NAME=Bold Trunojoyo Scholarships
APP_PORT=9000
APP_DEBUG=false

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=bts

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-gmail-app-password

BANK_NAME=Bank Mandiri
BANK_ACCOUNT_NUMBER=0000000000000
BANK_ACCOUNT_NAME=YOUR NAME
DONATION_LINK=https://app.midtrans.com/payment-links/your-link
