<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pemberitahuan Hasil Seleksi Bold Trunojoyo Scholarships</title>
</head>
<body>
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <table width="600" cellspacing="0" cellpadding="0" style="font-family: Arial, sans-serif;">
                    <tr>
                        <td align="center" style="padding: 20px 0;">
                            <h1>Bold Trunojoyo Scholarships</h1>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px; border: 1px solid #ddd;">
                            <h2>Yth. {{.NAME}},</h2>

                            <p>Terima kasih atas minat dan partisipasi Anda dalam program Beasiswa UKT Bold Trunojoyo Scholarships. Kami menghargai waktu dan usaha yang telah Anda curahkan dalam proses pendaftaran.</p>

                            <p>Setelah melalui proses seleksi yang ketat, kami dengan menyesal memberitahukan bahwa permohonan beasiswa Anda belum dapat kami lanjutkan ke tahap berikutnya. Kami menerima banyak aplikasi berkualitas, dan keputusan ini diambil berdasarkan berbagai faktor, termasuk prestasi akademik, potensi kepemimpinan, dan kesesuaian dengan kriteria yang telah ditetapkan.</p>

                            <p>Kami memahami bahwa kabar ini mungkin mengecewakan. Namun, kami berharap Anda tidak berkecil hati dan tetap semangat untuk meraih impian Anda. Kami percaya Anda memiliki potensi besar dan masa depan yang cerah.</p>

                            <p>Jangan ragu untuk mencari informasi tentang peluang beasiswa lain yang mungkin sesuai dengan minat dan kualifikasi Anda. Kami juga mendorong Anda untuk terus mengembangkan diri dan meningkatkan kompetensi agar dapat meraih kesuksesan di masa depan.</p>

                            <p>Terima kasih atas partisipasi Anda dalam program Bold Trunojoyo Scholarships. Kami berharap Anda sukses dalam segala usaha Anda.</p>

                            <p>Hormat kami,<br>
                            Tim Seleksi Bold Trunojoyo Scholarships</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>